In [1]:
import pandas as pd
import numpy as np
from itertools import combinations,product
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
import ast
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=UserWarning)

In [ ]:
# df = pd.read_csv('match_info.csv', encoding='iso-8859-1')
# df.head()

,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,challenges,champExperience,champLevel,...,fastestLegendary,playerAugment1,playerAugment2,playerAugment3,playerAugment4,playerSubteamId,subteamPlacement,fasterSupportQuestCompletion,shortestTimeToAceFromFirstTakedown,thirdInhibitorDestroyedTime
0,"[0, 0, 0, 0, 0, 0, 2, 0, 0, 0]","[1, 0, 1, 0, 1, 0, 3, 0, 0, 0]","[5, 7, 6, 4, 7, 13, 7, 7, 10, 11]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 1, 0, 0, 0, 0, 10, 0, 5]",[],"[10431, 10249, 12687, 9214, 9426, 15514, 12483...","[13, 13, 14, 12, 12, 16, 14, 16, 14, 13]",...,"[1636.6968554999999, 'NA', 'NA', 'NA']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 1]","[15, 3, 0, 0, 0, 0, 0, 3, 0, 4]","[2, 7, 3, 6, 2, 8, 10, 8, 8, 17]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 3, 2, 3, 5, 0]",[],"[10652, 9279, 10022, 8767, 7410, 12693, 12906,...","[13, 12, 13, 12, 11, 14, 14, 16, 13, 12]",...,"[1001.856093, 'NA', 'NA', 'NA']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']","[19.335715100000016, 'NA', 19.335715100000016,...",NaN
2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 4, 0, 2, 0, 2, 0, 0, 0]","[0, 2, 4, 2, 3, 0, 3, 8, 6, 5]","[2, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 7, 3, 0, 7, 1]",[],"[7734, 6070, 9248, 6984, 5854, 13621, 9349, 83...","[11, 9, 12, 10, 9, 15, 12, 11, 13, 9]",...,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']",NaN,NaN
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 2, 2, 0, 2, 4, 10, 0, 3, 0]","[1, 4, 9, 6, 9, 6, 5, 6, 10, 10]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 4, 2, 0, 9, 0]",[],"[11110, 11192, 14254, 11428, 10696, 16507, 169...","[13, 13, 15, 13, 13, 17, 17, 12, 17, 14]",...,"[1567.0641355999999, 'NA', 'NA']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']",NaN,"[1863.4604132, 'NA', 1863.4604132, 'NA', 1863...."
4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 6, 1, 0, 2, 0]","[0, 1, 0, 0, 3, 5, 7, 7, 8, 11]","[0, 0, 0, 2, 0, 0, 3, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 5, 2, 6, 0]",[],"[10758, 7178, 8332, 7471, 6900, 12875, 10444, ...","[13, 10, 11, 11, 10, 14, 13, 15, 13, 10]",...,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']",NaN,NaN

In [2]:
def data_transform(df):
  col_name = ['Top','Jungle','Middle','Carry','Utility',\
              'Top2','Jungle2','Middle2','Carry2','Utility2',\
              'Top_Damage','Jungle_Damage','Middle_Damage','Carry_Damage','Utility_Damage',\
              'Top_FirstBlood','Jungle_FirstBlood','Middle_FirstBlood','Carry_FirstBlood','Utility_FirstBlood',\
              'Top_FirstTower','Jungle_FirstTower','Middle_FirstTower','Carry_FirstTower','Utility_FirstTower',\
              'Top_Wards','Jungle_Wards','Middle_Wards','Carry_Wards','Utility_Wards',\
              'Top_CC','Jungle_CC','Middle_CC','Carry_CC','Utility_CC',\
              'Win']
  out = []
  for index,row in df.iterrows():
    temp = []

    name = ast.literal_eval(row['championName'])
    time = ast.literal_eval(row['timePlayed'])[0]

    damage = ast.literal_eval(row['totalDamageDealt'])
    firstblood = ast.literal_eval(row['firstBloodKill'])
    firsttower = ast.literal_eval(row['firstTowerKill'])
    wards = ast.literal_eval(row['wardsPlaced'])
    timeCC = ast.literal_eval(row['timeCCingOthers'])
    win = ast.literal_eval(row['win'])

    temp += name

    temp.extend([60*i/time for i in damage[:5]])
    temp.extend([int(i) for i in firstblood[:5]])
    temp.extend([int(i) for i in firsttower[:5]])
    temp.extend([60*i/time for i in wards[:5]])
    temp.extend([60*i/time for i in timeCC[:5]])
    temp.append(win[0])
    out.append(temp)

    temp = []
    temp += name[5:]
    temp += name[:5]
    temp.extend([60*i/time for i in damage[5:]])
    temp.extend([int(i) for i in firstblood[5:]])
    temp.extend([int(i) for i in firsttower[5:]])
    temp.extend([60*i/time for i in wards[5:]])
    temp.extend([60*i/time for i in timeCC[5:]])
    temp.append(win[6])
    out.append(temp)

  result = pd.DataFrame(out,columns=col_name)
  return result

In [3]:
dataframes = []
files = ['match_info_BRONZEIV','match_info_IRONIII','match_info_IRONIV']
for file in files:
  df = pd.read_csv(f'{file}.csv', encoding='iso-8859-1')
  dataframes.append(data_transform(df))

dff = pd.concat(dataframes, ignore_index=True)

In [4]:
dff.head()

,Top,Jungle,Middle,Carry,Utility,Top2,Jungle2,Middle2,Carry2,Utility2,...,Jungle_Wards,Middle_Wards,Carry_Wards,Utility_Wards,Top_CC,Jungle_CC,Middle_CC,Carry_CC,Utility_CC,Win
0,Chogath,Diana,Akali,Yasuo,Rakan,Jax,Nocturne,Veigar,MissFortune,Morgana,...,0.068571,0.240000,0.342857,1.097143,2.914286,0.582857,0.000000,1.337143,0.891429,True
1,Jax,Nocturne,Veigar,MissFortune,Morgana,Chogath,Diana,Akali,Yasuo,Rakan,...,0.102857,0.240000,0.171429,0.891429,0.788571,4.937143,0.582857,0.240000,2.262857,False
2,Fiora,JarvanIV,XinZhao,MissFortune,Seraphine,Gangplank,Rammus,Veigar,Jinx,Lux,...,0.222635,0.306122,0.361781,0.779221,0.083488,0.417440,0.723562,0.222635,0.751391,True
3,Gangplank,Rammus,Veigar,Jinx,Lux,Fiora,JarvanIV,XinZhao,MissFortune,Seraphine,...,0.027829,0.278293,0.194805,0.473098,0.361781,1.307978,0.751391,0.139147,1.948052,False
4,Nasus,FiddleSticks,Malzahar,Jhin,Senna,Illaoi,Nocturne,Annie,Caitlyn,Thresh,...,0.000000,0.425748,0.273695,0.486569,1.033958,1.459706,1.642169,0.881906,1.216422,True

In [5]:
positions = ['Top']
metrics = ['_Damage','_FirstBlood','_FirstTower','_Wards', '_CC']
pos = [i+j for i in positions for j in metrics]
X, y = dff[pos], dff['Win']
rf = RandomForestClassifier(random_state=42).fit(X, y)

importances = rf.feature_importances_
importances_series = pd.Series(importances,index=metrics).sort_values(ascending=False)

In [6]:
top_contributors = [i[1:] for i in importances_series[:3].index]
top_contributors

['Damage', 'Wards', 'CC']

In [28]:
def handle_nan(value):
  if np.isnan(value):
      return 0
  return value

def rf_calculator(dff, positions):
    if type(positions)==str:
      positions = [positions]
    metrics = ['_Damage','_FirstBlood','_FirstTower','_Wards', '_CC']
    pos = [i+j for i in positions for j in metrics]
    X, y = dff[pos], dff['Win']
    rf = RandomForestClassifier(random_state=42).fit(X, y)

    importances = rf.feature_importances_
    importances_series = pd.Series(importances,index=metrics).sort_values(ascending=False)
    top_contributors = [i[1:] for i in importances_series[:3].index]

    return rf,top_contributors

def combo(df,opponent,opp_position,positions):
  result = []

  #filter by the given opponent and combine all the champions that appeared in the records
  #we want to find winners among winners, so all the record searching process are constrained with victory against the given oppnent
  df_filtered = df[(df[opp_position+'2']==opponent) & (df['Win']==True)]
  combinations = product(*[df_filtered[i].unique() for i in positions])
  total = np.prod([len(df_filtered[i].unique()) for i in positions])

  #specify the domain of metrics that are utilzed in this model
  constraint = [5,3]
  metrics = ['_Damage','_FirstBlood','_FirstTower','_Wards', '_CC']

  #obtain the random forest model for each position
  rfs, top_kpi = [],[]
  for i in positions:
    rfs.append(rf_calculator(df,[i])[0])
    top_kpi.append(rf_calculator(df,[i])[1])

  for ind,combination in enumerate(combinations):

    skip = 0
    #check duplicate in opponent
    for cham in set(combination):
      if cham in opponent:
        skip = 1
        break

    if skip:
      # print('{:.2%}'.format(ind/total))
      continue

    #check duplicate in combination
    if len(combination)!=len(set(combination)):
      skip = 1
      continue

    #calculate the individual scores

    individual = []
    for i,champ in enumerate(combination):
      #filter the champ
      temp = df_filtered[df_filtered[positions[i]]==champ]

      if temp.empty or len(temp)<constraint[0]:
        skip = 1
        break
          # raise ValueError(f"Empty DataFrame after filtering for {positions[i]}=={champ}")

      if skip:
        # print('{:.2%}'.format(ind/total))
        continue

      base_X = []

      #get all the Xs and calculate the winning rate
      for j in metrics:
        base_X.append(handle_nan(temp[f'{positions[i]}'+j].mean()))

      base_X_df = pd.DataFrame([base_X], columns=[f'{positions[i]}'+j for j in metrics])
      prob = rfs[i].predict_proba(base_X_df)
      individual.append(prob[0][1])

    #calculate the scores in combinations

    temp = df_filtered.copy()
    comb = []

    #filter champs in the combination
    for i, champ in enumerate(combination):
      temp = temp[temp[positions[i]]==champ]
      if temp.empty or len(temp)<constraint[1]:
        skip = 1
        break
          # raise ValueError(f"Empty DataFrame after filtering for {positions[i]}=={champ}")

    if skip:
      # print('{:.2%}'.format(ind/total))
      continue

    #get all the Xs and calculate the winning rates
    Xs = []
    for i in range(len(combination)):
      X = []
      for j in metrics:
        X.append(handle_nan(temp[f'{positions[i]}'+j].mean()))
      X_df = pd.DataFrame([X], columns=[f'{positions[i]}'+j for j in metrics])
      Xs.append(X_df)
      prob = rfs[i].predict_proba(X_df)
      comb.append(prob[0][1])

    #test Pareto efficiency for all the combinations and keep the efficient sets with their scores
    if np.array([i>=j for i,j in zip(comb,individual)]).all() and np.array([i>j for i,j in zip(comb,individual)]).any():
      result.append({position: champion for position, champion in zip(positions, combination)})
      for index,pos in enumerate(positions):
        result[-1][pos+' Score'] = comb[index]

      #performances in top 3 contributors by the random forest model
      for index,pos in enumerate(positions):
        for j in range(3):
          result[-1][pos+' '+top_kpi[index][j]] = round(Xs[index][f'{pos}_'+ top_kpi[index][j]][0])

    # print('{:2%}'.format(ind/total), end='\r', flush=True)
    # print('{:.2%}'.format(ind/total))


  if not result:
    raise ValueError("Not Available to Generate Combinations based on Current Dataset")

  #using scores to further streamline the combination list
  r = pd.DataFrame(result)
  #get the ranks for each score and then average
  for index,pos in enumerate(positions):
    r[f'rank {index+1}'] = r[pos+' Score'].rank(ascending=False)
  r['Average Rank'] = (r['rank 1'] + r['rank 2']) / 2

  #switch the position for better look
  for index,i in enumerate(['rank 1','rank 2','Average Rank']):
    temp = r.pop(i)
    r.insert(index+4,i,temp)

  r_sorted = r.sort_values('Average Rank')

  #return the combinations with top 50% average rank in all list, #rows in [1,10]
  return r_sorted[:max(min(10,int(len(r_sorted)/2)),1)]

In [32]:
combo(dff,'Jinx','Carry',['Carry','Utility'])

,Carry,Utility,Carry Score,Utility Score,rank 1,rank 2,Average Rank,Carry Damage,Carry Wards,Carry CC,Utility Damage,Utility Wards,Utility CC
0,Jhin,Lux,0.5,0.69,1.0,1.0,1.0,4439,0,1,2714,1,2

In [ ]:
'''
BEST COMBOS = [[AB], [BC], .....]
BEST COUNTERS = [[AB], [CA], ....]
FIND THE COMMON GROUND BETWEEN THESE TWO
HERE ARE OUR RECOMMENDATION [[AB], ...]

BEST COMBO HYPOTHESIS TESTING:
  MEAN (A2 + B2) > MEAN (A2) + MEAN (B2)

KPI: Logistic Regression

'''